.card{
  width: 90%;
  max-width: 900px;
  height: auto;
  border-radius: 50px;
  background: linear-gradient(to right, #BFDBFE, #A7F3D0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px;
}

.btnConfirm {
  width: 100%;        
  max-width: 500px;   
  height: 60px;
  border-radius: 30px;
  background: linear-gradient(to right, #2DE099, #3B82F6);
  cursor: pointer;
  display: flex;       
  align-items: center;
  justify-content: center;

}

.gradientBorder {
  display: block; 
  position: relative;
  padding: 1px;
  border-radius: 30px;
  background: linear-gradient(to right, #2DE099, #3B82F6);
  width: 100%;        
  max-width: 500;   
}

.input{
  width: 100%;       
  padding: 12px;
  border-radius: 27px;
  border: none;
  outline: none;
  background-color: white;
  font-size: 28px;
  color: #757575;
  font-weight: bold;
  text-align: center;
}

.btnReSend {
  width: 100%;        
  max-width: 500px;   
  height: 60px;
  border-radius: 30px;
  background: #E5E5E5;
  cursor: pointer;
  display: flex;       
  align-items: center;
  justify-content: center;

}

/*16) Indeterminate progress */
     :root {
      --gray-200: #e5e7eb;
      --cta-cyan-400: #22d3ee;
      --cta-teal-500: #14b8a6;
      --dur-l: 1.5s;
    }

    .bar {
      width: 80%;
      height: 8px;
      border-radius: 999px;
      background: var(--gray-200);
      overflow: hidden;
      margin: 50px auto;
    }

    .bar::after {
      content: "";
      display: block;
      width: 40%;
      height: 100%;
      background: linear-gradient(90deg, var(--cta-cyan-400), var(--cta-teal-500));
      animation: slide var(--dur-l) linear infinite;
    }

    @keyframes slide {
      0%   { transform: translateX(-50%); }
      100% { transform: translateX(220%); }
    }