.pointer {
  cursor: pointer;
}
.flexCenterGap50 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.gradientFlexCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnResendText {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.btnConfirmRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btnConfirmText {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}
.containerPadding {
  padding-top: 150px;
  padding-bottom: 20px;
}

.flexCenterGap50 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.gradientFlexCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnResendText {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.btnConfirmRow {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btnConfirmText {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}
.gradientBorder {
  display: block; 
  position: relative;
  padding: 1px;
  border-radius: 30px;
  background: linear-gradient(to right, #2DE099, #3B82F6);
  width: 100%;        
  max-width: 500px;   
}

.input{
  width: 100%;       
  padding: 12px;
  border-radius: 27px;
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  color: #757575;
  font-weight: bold;
  text-align: center;
}

.btnReSend {
  width: 100%;        
  max-width: 500px;   
  height: 50px;
  border-radius: 30px;
  background: #E5E5E5;
  cursor: pointer;
  display: flex;       
  align-items: center;
  justify-content: center;

}