/* login_register.module.css */

.container {
  background-image: url("/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
   text-align: center;
}

/* Khi màn hình nhỏ hơn 768px (tablet/mobile) */
@media (max-width: 768px) {
  .title {
    font-size: 48px; /* nhỏ lại */
  }
}

/* Khi màn hình nhỏ hơn 480px (mobile nhỏ) */
@media (max-width: 480px) {
  .title {
    font-size: 32px; /* nhỏ hơn nữa */
  }
}


.input,
.input_password {
  width: 100%;       
  padding: 12px;
  border-radius: 27px;
  border: none;
  outline: none;
  background-color: white;
  font-size: 18px;
  color: #757575;
  font-weight: bold;
}

.input_password {
  padding: 12px 50px 12px 12px; 
}


.gradientBorder {
  display: block; 
  position: relative;
  padding: 1px;
  border-radius: 30px;
  background: linear-gradient(to right, #2DE099, #3B82F6);
  width: 100%;        
  max-width: 800px;   
}

 .btnLogin {
  width: 100%;        
  max-width: 800px;   
  height: 60px;
  border-radius: 30px;
  background: linear-gradient(to right, #2DE099, #3B82F6);
  cursor: pointer;
  display: flex;       
  align-items: center;
  justify-content: center;

}

.line {
  flex: 1;
  height: 1px;
  background-color:  #757575;;
}

.btnIcon {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(to right, #2DE099, #3B82F6);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.imgIcon {
  width: 40px;
  height: 40px;
}

.card{
  width: 90%;
  max-width: 900px;
  height: auto;
  border-radius: 50px;
  background: linear-gradient(to right, #BFDBFE, #A7F3D0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}



.eyeIcon{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.cardline{
  display: flex;
  align-items: center;
  width: 100%; /* tự co theo .card */
  max-width: 800px; /* giới hạn ở desktop */
  margin: 20px 0;
  
}
.linetext {
  margin: 0 10px;
  color: #757575;
  font-weight: bold;
}

