@use '@/styles/abstracts/variables' ;

// .headerSpace {
//   padding-top: 150px
// }

.paddingTop20 {
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  background: var(--background-light);
  justify-content: center;
  align-items: center;
}