@use '../../../styles//abstracts/variables.scss';

.container {
	max-width: 80%;
	margin: 0 auto;
	padding: 2rem;
	background: var(--background-card-light);
	border-radius: 0.75rem;
	box-shadow: 0 6px 20px rgba(16, 24, 40, 0.06);
}

.heading {
	font-size: 1.75rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
	/* gradient text */
	background: var(--title-text-light);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
}

.section {
	margin-top: 1.5rem;
}

.sectionTitle {
	font-size: 1.225rem;
	font-weight: 600;

	background: var(--title-text-light);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	margin-bottom: 1rem;
}

.formContainer {
	margin-top: 1rem
}

.actionsRow {
	display: flex;
	justify-content: flex-end
}

.btnPrimary {
	background: var(--primary-button-light);
	padding: 0.7rem 1.9rem;
	border-radius: 0.5rem;
	border: none
}

.btnPrimary p {
	background: var(--title-text-light);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	color: transparent;
	margin: 0;
	font-weight: 600;
	font-size: 1.2rem;
}



.controlsRight {
	display: flex;
	justify-content: flex-end
}